
#DocsMain{
    width:100%;
    background-color: black;
}

  #PageContainer{
      background-color: ivory;
      width: initial;
    padding-top: 2%;
    padding-left: 2px;
    padding-right: 2px;
  }


  




#DocsBox{
    
    background-color: white;
    padding-top: 4%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding-bottom: 5%;

  -webkit-border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
  border-radius: 12px 12px 12px 12px;
  -webkit-box-shadow:-0px 0px 28px 0px #000000 inset;
-moz-box-shadow:-0px 0px 28px 0px #000000 inset;
box-shadow:-0px 0px 28px 0px #000000 inset;



}
#StrongText{
    color: green;
}
div{
    color:black;
}

#DocsHeading{
    margin-top: 2%;

    font-size: 25px;
    color: green;
}

#DocsSelfieHeading{

    font-size: 25px;
}

hr{
    color: green;
}



  #DocsImage{
    border-radius:16px;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    margin-top: 10px;
  }

#FinalPageSubmit{
  width:80%;
  margin-top: 4%;
}
