/*Page 2
----------
----------------*/

.main{
    padding-top: 1%;
    margin-top: 4%;

    padding-bottom: 5%;
    -webkit-box-shadow: 6px 4px 45px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 4px 45px -4px rgba(0,0,0,0.75);
  box-shadow: 6px 4px 45px -4px rgba(0,0,0,0.75);
  }
  
  #genderElement{
    margin-bottom: 2%;
    margin-top: 4%;
  }
  .heading{
    margin: 0em;
    padding: 1%;
    font-weight: bolder;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
   line-height: 1.9;
   margin-top: 3%;
  }
  
  #cus{
    width:60px;
    height:60px;
    float: left;
    margin-right: 3%;
  }
  
  .header{
  
    text-align: center;
    margin-top: 10%
  }
  

  
  .GenderEdit{
    font-size: 20px;
  }
  
  
  #submitButton{
    margin-top: 3%;
    background-color: green;
  }
  
  