#WebCamBox{

    background-color: white;
    padding-top: 4%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;

    -webkit-box-shadow: 6px 4px 45px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 4px 45px -4px rgba(0,0,0,0.75);
  box-shadow: 6px 4px 45px -4px rgba(0,0,0,0.75);
  -webkit-border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
  border-radius: 12px 12px 12px 12px;

}

#WebCamPageTwoButtons{
    width:45%;
    margin-left: 3%;
}
Button{
    margin-top: 10%;
}
#WebCamPageSubmit{
    margin-top: 4%;
}
#WebCamImage{
    border-radius:16px;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
}
#WebCamButtonRow{
    margin-top: 5%;
    margin-bottom: 4%;
}